/******************/
/***** COMMON *****/
/******************/

* {
	box-sizing: border-box;
}
#container{
	position: relative;
	background-color: #c9ba9d;
	width: 80%;
	margin: auto;
	
}
label {
	font-size: 0.9em;
	color: #666;
}
img {
	width: 47%;
}





main{
	position: relative;
}

a {
	color: darkred;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.fleft {
	float: left;
	margin-right: 1rem;
}
.fright {
	float: right;
	margin-left: 1rem;
}

.clearer {
	clear: both;
}
.success {
	color: green;
	font-size: 0.8em;
}
.error {
	color: red;
	font-size: 0.9em;
}
.info {
	color: darkorange;
	font-size: 0.8em;
}

#mySidenav{
	border: none;
	height: 0%;
	z-index: 300;

	/*max-width: 200px;*/
	/*position: absolute;
	top: 10vw;
	right: 4vw;*/
	
}


/* Den Placeholder-Font selbst bestimmen: */
::-webkit-input-placeholder { font-family: verdana; }
:-moz-placeholder { font-family: verdana; }
::-moz-placeholder { font-family: verdana; }
:-ms-input-placeholder { font-family: verdana; }

input[type="submit"] {
	color: #666;
	cursor: pointer;
}
input[type="submit"]:hover {
	background-color: lightblue;
	color: white;
}



/*********************/
/***** INDEX.PHP *****/
/*********************/
#login{
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	z-index: 200;
}
body {
	overflow: hidden;/*NEW*/
	position: relative;
	/*width: 100vw;*/
	
	font-family: georgia;
	letter-spacing: 0.04em;
	padding: 10rem 50px 50px 50px;
	line-height: 1.5em;
	margin: 0 0 0 0;


	background: linear-gradient(45deg, #dca 12%, transparent 0, transparent 88%, #dca 0),
    linear-gradient(135deg, transparent 37%, #a85 0, #a85 63%, transparent 0),
    linear-gradient(45deg, transparent 37%, #dca 0, #dca 63%, transparent 0) #753;
    background-size: 25px 25px;
	
	
}
header{
	position: fixed;
	top: 0;
	height: 10rem;
	z-index: 10;
	background:url("../uploads/designimages/table.jpg") center center no-repeat;
	background-size: cover;
	/*background-color:#999;*/
	width: 100%;
	left: 0;
	padding: 0.5rem 3rem 0.5rem 3rem;
	/*border-bottom: 3px solid lightgray;*/
	/*opacity: .9; временно*/
}
h1, h2 {
	font-size: 2rem;
	letter-spacing: 0.3em;
	color: rgb(255, 220, 220);
	text-shadow: 4px 4px 6px #272626;
}
h2 {
	letter-spacing: 0.1em;
	font-size: 1.2em;
}

/* Form Elements */
input {
	display: inline-block;
	width: 150px;
}
.textRight{
	position: relative;
	text-align: right;
}

.marker {
	font-weight: bold;
	color: darkred;
	margin-left: 5px;
}

/* Kommentar-Formular */
.blogEntry form {
	margin: 20px 0;
}
.blogEntry label {
	color: darkred;
	font-size: 0.8em;
}
.blogEntry input, .blogEntry textarea {
	width: 97%;
	border-radius: 5px;
	border: 1px solid #999;
	padding: 5px;
}
.blogEntry textarea {
	height: 100px;
}

a.expand {
	font-size: 0.8em;
}
a.expand:hover {
	font-size: 0.8em;
}
.blogs {
	border: 3px solid lightgray;
	border-radius: 10px;
	width: 100%;/*new*/
	padding: 10px;
	transition: 0.5s; /*new*/
}
.headline {
	color: darkgray;
}
.author {
	color: darkgray;
}
.unterheader{
	position: relative;
}
#but11{
	display: none;
}

/******************************************WrapNavi***********************************************************/

.wrapNav{
	/*justify-content: center;*/
}
.wrapNav ul {
	/**/
	-ms-box-orient: horizontal;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex; 
	display: flex;
	justify-content: space-evenly;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	list-style: none; 
}
.wrapNav ul li{
	
	width: 200px;
	height: 200px;
	/*min-width: 100px;*/
	margin: 10px;
	background: url(../uploads/designimages/stiker_S.png) center center no-repeat;
	background-size: contain;
	
	/*box-shadow: 10px 10px 5px ;*/
	
}

.wrapNav ul li a{
	font-family:'Beer money';
	color: rgb(27, 1, 1);	
	font-size: x-large;
	line-height: 2rem;
	display: block;
	padding: 2.5rem;
	

	
}
 
.wrapNav ul li a:hover{
	color: goldenrod;
}


/*****************************************************************************************************/

/*****************************************WorkTable************************************************************/

#workTable{
	
	height: 100vh;
	width: 100vw;
	position: absolute;/*test*/
	top:10rem;
	left:0px;
	background:url("../uploads/designimages/table.jpg") center center no-repeat ;
	background-size: cover ;
	z-index: 4;
	display: flex;/*test for animation*/
	
	justify-content: center;


}


.switchUnten{
	position:absolute;
	z-index: 5;
	
	bottom:10rem;
	left:50%;

	
}


/*****************************************************************************************************/
.switchOben{
	position:fixed;
	top: 10rem;
	left:50%;
	z-index:3;
}
#lastNews{
	height: 0%;
	border:3px solid #833502;
}

#lnews{
	width: 30rem;
	height: 20rem;
	background: url("../uploads/designimages/Last_News_Sh1.png") center center no-repeat;
	background-size: contain;
	

	
	
}
#lnews p {
	font-family:'Beer money';

	text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5;
	color: rgb(27, 1, 1);	
	font-size: 3em;
	line-height: 2rem;
	margin: 25%;
	-moz-transform: rotate(-15deg);
	-webkit-transform: rotate(-15deg);
	-o-transform: rotate(-15deg);
	-ms-transform: rotate(-15deg); 
	transform: rotate(-15deg);
}

#lnews p:hover{
	color: goldenrod;
	font-size: 3.2em;
}


/*button 'Themen'*/


.cat{
	/*position: fixed;*/
	
	/*border: 3px solid rgb(141, 75, 14);
	border-radius: 10px;*/
	padding: 0.5em 2em 0.5em 2em;
	font-family: "Beer money";
	
}
span.cat{     
	display: block;
	
}

.cat:hover{
	cursor: pointer;
	
	
}
#thm {
	background:url("../uploads/designimages/pencil.png") center center no-repeat ;
	background-size: contain;
}
#thm:hover{
	font-size: 1.2rem;
	text-align: center;
	width: 120%;
	height: 120%;
}

/************************************************************************************************************/

/**ВЫПАДАЮЩИЙ СПИСОК ТЕМ И КАТЕГОРИЙ**/

.categories {
	position: fixed; /* Оставаться на месте */
	top:4rem;
	right: 3.5rem;
	z-index: 1; /* Оставайтесь поверх других блоков */
	/*overflow-x: hidden;  спрятать выходящее за родительский блок-hidden */
	transition: 0.5s; /* 0.5 секунд эффект перехода, чтобы скользить в sidenav */
	/*max-height: 100%;*/ /*test*/
	/*width: 0%;test*/
	/*height: 0%; test*/
	padding: 0px 0;/*padding: 50px 0*/
	/*border: 3px solid lightgray;*/
	border-radius: 10px;
	text-align: right;
	/*background-color: darkgray;*/
	
}
#mySidenav{
	overflow-x: hidden;
	background: url(../uploads/designimages/notebook2.png) center center no-repeat;
	background-size: contain;
	
	

}
.categories .closebtn a{
	position: absolute;
	top: 5rem;
	right:0rem;
	/*background-color: #a57f4a;*/
	font-size: 20px;	
  }

  .closebtn a{
	
	background-color: #a57f4a;
	
	
  }
  
.categories ul {
	margin: 8em 1.5em 1.5em 1.5em;
	padding: 0%;
	list-style: none;
	/*border: 3px solid rgb(253, 3, 199);	*/
	background-color: #fff;
	background-image:
	linear-gradient(90deg, transparent 79px, #abced4 79px, #eee 81px, transparent 81px),
	linear-gradient(#eee .1em, transparent .1em);
	border: 5px double rgba(97,47,14,0.3);
	border-radius: 13px;
	background-size: 100% 1.2em;

	box-shadow: -3px 5px 7px 4px rgba(36, 32, 28, 0.76);
	
	text-align: center;
}
.categories ul li {
	position:relative;	
}

.categories ul li a:hover {
	color: goldenrod;
}
.categories ul ul{
	margin: 0 1.2em 2em 0;/**   выравнивание блока с подтемами относительно блока с темами*/
	text-align: center;
	display: none;
	/*transition: all 2s linear;*/
	/*background-color: lightgray;*/
	z-index: 100;
	position: absolute;
	right:75%;
	top: 0;	

	background-color: rgb(252, 247, 247);
	
	border-top: 3px solid rgb(92, 69, 56);
	border-left: 3px solid rgb(92, 69, 56);
	border-bottom: 3px solid rgb(92, 69, 56);
	border-right: 1px solid gray;
	border-radius: 20px 0 0 20px;


}

.categories ul ul li a{
	/*background-color:lightgray;*/
	overflow-x: visible;	
}

.categories ul ul li a:hover{
	color: goldenrod;
}

/** выпадание категорий при наведении на тему в навигаторк THEMEN */
.categories li:hover > ul{ 
	
	display: block;
}
.sideN{
	/*max-height: 300px;*/
}
.sideN a {
	display: inline-block;
	padding: 10px;
	margin: 5px;
	font-family:'Beer money';
	font-size: 2rem;
	
  	transition: 0.3s;/*new*/
	text-decoration: none;
	
	color: rgb(27, 1, 1);
	
}
.sideN ul {
	padding: 20px 20px;
}

.categories a:hover {
	/*border-bottom: 1px solid   rgb(27, 1, 1);*/
	color:  rgb(27, 1, 1);
	cursor: pointer;
}

.closebtn a{
	display: inline-block;
	margin: 5px;
	padding: 5px;
	border: 2px solid   rgb(61, 42, 29);
	border-radius: 50px;

}

nav a{
	display: block;
}
/*****************************************************************/





.comment {
	color: #666;
	font-size: 0.8em;
	/*border-top: ;*/
}
.nameComments{
	font-size: 0.7em;
	color: darkred;
	border-bottom:1px solid #999 ;
}
.countComments {
	color: darkred;
	float: right;
	font-size: 0.7em;
}

/******************************************************************************************************************************/

@media(max-width:700px){
	
	body {
		line-height: 1.3em;
		
		padding: 0.3em;
		font-size: 0.7em;
		position: relative;
	}
	.blogs {
		
		padding: 2.5em 10px 10px 10px;
		
	}
	
	header{
		position: fixed;
		top: 0;
		background-color:#999;
		width: 100%;
		left: 0;
		padding: 0.3rem 0.3rem 0.3rem 0.3rem;
	}
	h1, h2 {
		font-size: 1rem;
		letter-spacing: 0.3em;
		color: darkred;
		margin: 0;
		padding: 0;
	}
	
	header p {
		margin: 0;
		padding-top: 0.5em;
	}
	
}



@media(max-width:500px){
	.blogs {
		
		padding: 3.5em 10px 10px 10px;
		
	}
	
	.fleft {
		float: left;
		margin-right: 0.2rem;
	}
	.fright {
		float: right;
		margin-left: 0.2rem;
	}
}
@font-face {
	
	font-family: "Beer money"; 
	
	src: url("../fonts/beermoney/beermoney.woff2") format("truetype"); 
	font-style: normal; 
	font-weight: normal; 
  } 